node_modules/
.env
npm-debug.log*
.DS_Store
coverage/

mobile/node_modules/
mobile/generated/
mobile/www/
mobile/android/
mobile/ios/
mobile/*.keystore
mobile/*.jks
mobile/*.p12
mobile/*.mobileprovision
